<div class="terms-container-wrapper">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="terms-condition-wrapper container">
            <h1>Reduce Energy Cost Using Window Light Shelves</h1>
              <hr>
              <h2> Introduction </h2>
              <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
              </h3>
  
              <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
              </h3>
              <h2>Service Description</h2> -->
              <p>
                  ChoiceGenie encourages using window light shelf, as it is one of the great ways not only to enhance your home but also a gateway to a complete energy saving upgrades. </p>
          <p>Light shelves are a piece of architecture which can be fitted inside a room, made from aluminum, or another reflective material. </p>
          <p>These light shelves capture light from your room and distribute it up, towards the ceiling. 
              By the way, this, in turn, helps reduce energy costs because it makes your whole room much brighter.
              </p>
              <p>ChoiceGenie has come up with some well-researched benefits of light shelves to make you inclined towards reducing your bills for the better.</p>
          <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
                <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
              </p> -->
              <h2>Benefit # 1: Energy Savings</h2>
              <p>Light shelves make the lighting in your room much more efficient and which by the way guarantees you do not need to worry about using as much electricity for lighting. 
              </p>
        
          <p>A light shelf is a popular energy saving device which has real results. </p>
          <p>A light shelf reduces the amount of electricity needed during daylight hours to light a room.
              However, at night, the shelves do not help and artificial lighting will be required.
              </p>
               
              <h2>Benefit # 2: Enhances Light from Windows</h2>
          <p>Windows collect a huge amount of light and are capable of lighting your room during the day. </p>
               <p>However, when this light is focused and concentrated on a TV screen or monitor it can become a nuisance. <p>
          <p>Some people shut the curtains and switch on the lights which are not environmentally friendly and turn out to be really expensive.
              </p>
              <p>Shutters and curtains are the major reasons that most of the light coming through your window is wasted light.</p>
              <p>Using a light shelf helps increase efficiency and captures all of the light coming through the window, and then distributes it properly throughout a room making it a more reliable source.</p>
              <h2>Benefit # 3: Suitability</h2>
          <p>ChoiceGenie forbids using light shelves everywhere.</p>
          <p>Typical users are of those countries who have a mild to medium climate.</p>
          <p>The shelves are guaranteed to heat up a room if and when the sun is too hot.</p>
          <p> Only small windows are used in the tropical climates so that the heat is as minimized as possible.  </p>
          <p>When the modern light shelves are painted often with less reflective surfaces, room temperature is increased only by a few degrees. </p>
       
          <h2>Benefit # 4: Install Internally/Externally</h2>
            <p>The light shelves can either be installed internally or externally. 
                They are designed in a way to look attractive and to complement the decor of any house. 
                </p>
          <p>They are fitted to the top of windows to redirect the top portion of light. </p>
              
  
                <p>Below the light shelf, you will install blinds to make it easier to control the amount of light entering a room. </p>
                 
                
  
        </div>
      </div>
    </div>
  </div>
  
  