<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
          <h1>Easy Hacks to Make Energy Bill Lower & Pockets Heavier</h1>
            <hr>
            <h2> Introduction </h2>
            <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
            </h3>

            <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
            </h3>
            <h2>Service Description</h2> -->
            <p>
              ChoiceGenie makes it unbelievably easy for you to reduce your energy consumption and lower your bills.</p>
        <p>We will not talk about reducing your electric bill illegally with aluminum foil or magnets!</p>
       <p>
        We’re going to share some easy hacks to make your pockets heavier & electric bill legally lower.
       </p>
        <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
              <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
            </p> -->
            <h2>A Trick to Secure Pockets # 1: Run the Dishwasher Only When Full</h2>
            <p>Do not even think of turning on your dishwasher, until you have the full load
            </p>
      
        <p>What will happen, you turn on your dishwasher when having less than a full load and you will do nothing but waste all that power and water in the long run.</p>
             
            <h2>A Trick to Secure Pockets # 2: Use One Charger</h2>
        <p>ChoiceGenie suggests to rotate cordless phones in one charger.
          According to our research, using just one charger at a time could yield decent saving.
          </p>
             <!-- <p> Do  you  leave  the  desktop  running  non-stop just because it's a pain to wait for the machine to power up?<p>
        <p>Well,  you  are  in  for  a  rude  awakening  when  the  bill  comes  forth  and  you end up paying several dollars a month.
            </p>
            <p>Not worth it, really!</p> -->
            <h2>A Trick to Secure Pockets # 3: Make Use of Standby Feature</h2>
        <p>Take advantage of the standby feature of your computer.</p>
        <p>Manipulate this standard feature easily and wisely!</p>
        <p>Set the time-out period and your computer powers down on your instruction. </p>
        <!-- <p> While  you  can't  control  your  utility  rates,  you  can  work  on  ways  to  lower your energy usage and keep that electric bill reasonable. </p>
        <p>Just  to  lower  the  cost  of  cooling,  how  about  starting  to  turn  the  air conditioner off every time you leave the house?</p>
        <p> The hack is yours to borrow!</p> -->
        <h2>A Trick to Secure Pockets # 4: Live a Day without Light!</h2>
          <p>Have a light free day, you will survive it!</p>
        <p>Do without light for just one day every week.</p>
            <!-- <h2>Bottom Line</h2> -->

              <p>Challenge your spouse, children or family to a unique lifestyle minus light for just one single day, heck for the fun of it!</p>
              <p>No need to succumb to the total darkness, enjoy a candle-lit dinner instead.
              </p>

              <h2>A Trick to Secure Pockets # 5: Disconnect Microwave Light</h2>

           <p>A fun fact? Microwave light can be disconnected!</p> 
           <p>Why is the microwave oven need to be equipped with a light bulb, to begin with?
           </p>
             <p>
              Why? When most people who can afford to invest in a microwave oven probably enjoy immaculate lighting at their kitchens.
             </p>
           
           <p>
            But again we are on the serious subject of saving electricity, unplug the light bulb with the fact that it is not going to be a life-changing experience.
           </p>
<h2>
    A Trick to Secure Pockets # 6: Unload your Manual Gardening Tools!
</h2>
<p>ChoiceGenie suggests using manual gardening tools. </p>
<p>You know you can just as effectively trim those bushes and hedges in your garden with manual shears as with powering up your electric trimmers.</p>
      </div>
    </div>
  </div>
</div>

