<div class="header-home">
    <nav class="nav-home navbar-transparent">
      <!-- <div class="container container-fluid"> -->
      <div class="navbar-header" >
        <button class="navbar-toggle" data-target="#menu-example" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" routerLink="/">
          <img src="../../assets/img/logofinal.gif" alt="ChoiceGenie"  />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="navbar-nav navbar-right">
          <li class="vanders">
            <a routerLink="/">
              <i class="material-icons">home</i> Why CHOICEGENIE ?
              <i class="fa fa-caret-down"></i>
            </a>
            <div class="drop-downs">
            <ul class="nav-vanders">
                <li>
                    <a routerLink="/Why-Choice-Genie">
                      <i class="fa fa-question-circle-o"></i>
                      
                      Why ChoiceGenie?</a>
                  </li>
              <li>
                <a routerLink="/how-it-works">
                  <i class="fa fa-fire"></i>
                  How It Works?</a>
              </li>
              <li>
                <a routerLink="/Faqs">
                  <i class="fa fa-question-circle-o"></i>
                  FAQs</a>
              </li>
              <li>
                <a routerLink="/what-is-ChoiceGenie">
                  <i class="fa fa-question-circle-o"></i>
                  What is ChoiceGenie?</a>
              </li>
              <li>
                <a routerLink="/" >
                  <i class="fa fa-question-circle-o"></i>
                  Who are We?</a>
              </li>
              <li>
                <a routerLink="/features-comparison" >
                  <i class="fa fa-question-circle-o"></i>
                  COMPARISON MATRIX</a>
              </li>
              <li>
                <a routerLink="/Become-a-partner" >
                  <i class="fa fa-question-circle-o"></i>
                  Become a Partner</a>
              </li>
              <li>
                <a routerLink="/Choice-and-Saving" >
                  <i class="fa fa-question-circle-o"></i>
                  Choice and Savings</a>
              </li>
              <li>
                <a routerLink="/contactus" >
                  <i class="fa fa-question-circle-o"></i>
                  Establish Contact</a>
              </li>
            </ul>
            </div>
          </li>
          <!-- <li>
                  <a routerLink="">
                   Vendors
  
  
                  </a>
                </li> -->
  
          <li>
            <a routerLink="/residential">
              <i class="material-icons">dashboard </i> Residential
            </a>
          </li>
  
  
          <li class="">
            <a routerLink="/commercial">
              <i class="material-icons">person_add </i> Commercial
            </a>
          </li>
  
          <!-- <li>
              <a routerLink="/new-product">
                REPs
  
              </a>
            </li> -->
          <!-- <li class="">
              <a routerLink="/mainlogin">
                <i class="material-icons">fingerprint </i> login2
              </a>
            </li> -->
  
          <li class="vanders">
            <a href="/login">
              <i class="material-icons">
                face
              </i>
              Vendors
              <i class="fa fa-caret-down"></i>
            </a>
              <div class="drop-downs">
            <ul class="nav-vanders">
              <li class="/login">
                <a routerLink="/login">
                  <i class="material-icons">fingerprint</i> login
                </a>
              </li>
              <li class="">
                <a routerLink="/register">
                  <i class="material-icons">lock_open</i> Sign Up
                </a>
  
              </li>
            </ul>
          </div>
          </li>
  
          <li class="border-right-signup">
            <a routerLink="/usersignup">
              <i class="material-icons">lock_open</i>Sign Up
            </a>
            <!--<li class="">-->
              <!--|-->
              <!--&lt;!&ndash; <a routerLink="/usersignup"> &ndash;&gt;-->
              <!--&lt;!&ndash; <i class="material-icons">lock_open</i>Sign Up &ndash;&gt;-->
              <!--&lt;!&ndash; </a> &ndash;&gt;-->
            <!--</li>-->
            <li class="/userlogin">
              <a routerLink="/userlogin">
                <i class="material-icons">fingerprint</i> login
              </a>
            </li>
            <li class="">
              <a routerLink="/">
                <i class="material-icons">android</i>
              </a>
            </li>
            <li class="">
              <a routerLink="/">
                <i class="fa fa-apple"></i>
              </a>
            </li>
        </ul>
      </div>
      <!-- </div> -->
    </nav>
  </div>
  
  
  