<div _ngcontent-c4="" id="wrapper">
  <section _ngcontent-c4="" class="partner-holder">
    <div _ngcontent-c4="" class="" style="background: none;">
      <div _ngcontent-c4="" class="container">
        <div _ngcontent-c4="" class="text-right">
        </div>
      </div>
    </div>
    <div _ngcontent-c4="" class="container">
      <div _ngcontent-c4="" class="row">
        <div _ngcontent-c4="" class="col-md-offset-7 col-md-5">
          <form _ngcontent-c4="" class="form-partnership ng-untouched ng-pristine ng-invalid" id="partnerform" method="post" name="partnerform" novalidate="">
            <h1 _ngcontent-c4="" style="color: #fff; font-weight: 700; font-size: 55px">Become a Partner</h1>
            <p _ngcontent-c4="" class="lead" style="color: #fff;">Transform your collaborative dimension to a whole new level.</p>
            <div _ngcontent-c4="" class="contact_form">
            <div _ngcontent-c4="" id="message"></div>
           
              <div _ngcontent-c4="" class="col-mat-12">
                <mat-form-field>
                            
       
                  <input matInput placeholder="Enter Your Name"[formControl]="signupForm.controls['name']"   [(ngModel)]="model.name" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter Your Email" [formControl]="signupForm.controls['email']"   [(ngModel)]="model.email">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter Company Name" [formControl]="signupForm.controls['partnername']"   [(ngModel)]="model.partnername">
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput placeholder="How Can We Partner" [formControl]="signupForm.controls['desc']"   [(ngModel)]="model.desc"></textarea>
                </mat-form-field>
                <button class="btn btn-danger" style="float: right;" (click)="becomeapartnerdata()">Send Messege</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br _ngcontent-c4=""><br _ngcontent-c4="">
    </div>
  </section>
</div>