<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
          <h1>DIY Hacks To Save Energy</h1>
            <hr>
            <h2> Introduction </h2>
            <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
            </h3>

            <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
            </h3>
            <h2>Service Description</h2> -->
            <p>
                You think you’re being smart about your energy consumption, yet every month your electric bill never fails to shock you!</p>
        <p>Come to think of it, how high it could go in the summer months.</p>
        <p>You have to cool off not only you but your apartment too during the scorching mid-July. </p>
        <p>Don’t be so shocked, you are among those average Americans who can not help but pay $110 a month on their electric bill.</p>
        <p>ChoiceGenie has compiled some pretty awesome hacks for you to try out this summer!</p>
        <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
              <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
            </p> -->
            <h2>Smart Hack #1: In Mood for Small Meals? Use Small Appliances!</h2>
            <p>Going to be alone for dinner? How about heating up your food in a toaster oven, which – by the way – can use up to half as much energy as an electric oven.
            </p>
      
        <p>In the mood for a cup of tea? Bring out the electric kettle and heat the water rather than turning on a stove burner. </p>
        <p>When planning on using the stove-top, use the burner closest to the size of your pot. </p>
             
            <h2>Smart Hack #2: Use Moisture Sensor Dryer</h2>
        <p>Activate the moisture sensor feature of your dryer.</p>
             <p>As the machine can shut itself off once it senses the clothes are dry.<p>
       
          
            <h2>Smart Hack #3: Please, Turn the Fan Off!</h2>
        <p>Turn that fan off immediately, when you are done cooling yourself in front of it!</p>
        <p>You know it, a fan is only useful when you need the air blowing your way.</p>
        <p>So when no intention of going to be anywhere near that fan, simply leaving it on will not achieve the purpose of cooling the entire house down. </p>
         
        <h2>Smart Hack #4: Don’t Watch TOO MUCH TV!</h2>
          <p>If you are planning on saving electricity, it can be a pretty smart habit to turn off the TV when you are not really watching. </p>
        <p>Important Fact: a modern flat screen TV can get very hot when it is on for a long time. You got the point!</p>

            <h2>Smart Hack #5: Garage Door is NOT your Front Door!</h2>
<p>ChoiceGenie suggests stop using the garage door as the front door.</p>
<p>If your garage door is electrical powered too then pay heed, door movement uses up electricity!</p>
<p>
    If you are back home just for a quick stop, it would be one more step towards achieving that resolution of yours – save money on electricity bills –  to leave your car in the driveway rather than opening and closing the garage door.
</p>

<h2>Smart Hack #6: Shut Off the Computer!</h2>
<p>
    One would say, you are simply and intentionally wasting power by leaving the computer at idle state.
</p>
<p>
    ChoiceGenie did warn you!
</p>
      </div>
    </div>
  </div>
</div>

