<div class="sidebar-user">
  <nav>
    <ul>
      <li>
        <div class="text-center">
          <button type="button" class="btn btn-rose" (click)="pricerate(price,price_from, price_to);renewableenergy(energy);notime();showtime();companydata();plantype(fixed,vari,index);nopaidplan();prepaidplan();nullplan(); fullplan();fetchmutimonth(months1,months2,months3,months4,months5,months6,months7)">
            Search
            <i class="material-icons" title="Use these filters to set your preferences. Get rid of the plans you don’t want to see and only show those that fit your needs.">search</i>
          </button>
        </div>
      </li>

      <li>
        <h5>Enter Zip Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="Enter zipcode."></i>
        </h5>

        <div class="form-group label-floating">

          <b>
            <input type="text" class="form-control" [(ngModel)]="zip_code" name="zipcode" style="font-size: 20px">
          </b>
        </div>

      </li>
      <!-- <li>
  <h5>Items per Page</h5>
  <mat-form-field >
  <mat-select  (ngModelChange)="check($event)" [(ngModel)]="items"  >
  <mat-option value="10" style="font-size: 20px">10</mat-option>
  <mat-option value="20" style="font-size: 20px">20 </mat-option>
  <mat-option value="30" style="font-size: 20px">30 </mat-option>
  </mat-select>
  </mat-form-field>
  
  </li> -->
      <li>
        <h5>Estimated Usage&nbsp;&nbsp;&nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="If you choose a plan with a long contract period, you may be subject to an early cancellation fee if you decide to change plans prior to the expiration of the contract period.  Plans that are shorter give you more flexibility to switch, but they only lock in your set rate for a short amount of time.Month-to-Month plans are usually Variable or Indexed offers."></i>
        </h5>
        <mat-form-field>
          <!-- <label class="control-label"style="font-size: 18px">KWh</label> -->
          <mat-select placeholder="Kwh" (ngModelChange)="check($event)" (ngModelChange)="check($event)" required [(ngModel)]="price" name="price">

            <mat-option value="500" style="font-size: 20px">500 kWh</mat-option>
            <mat-option value="1000" style="font-size: 20px">1000 kWh</mat-option>
            <mat-option value="2000" style="font-size: 20px">2000 kWh</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li>
          <h5>Price/kWh
              <i class="fa fa-info-circle" aria-hidden="true" title="Price per kilowatt hour: A kilowatt hour is equal to 1 kilowatt (1kW) of power used for 1 hour (1h) of time."></i>

          </h5>
         
          <input  placeholder="price_from" type="text" required name="price_from" [(ngModel)]="price_from"  style="font-size: 20px" >
         
          <span><b>to</b></span>
        
          <input  placeholder="price_to"  type="text" required name="price_to" [(ngModel)]="price_to" style="font-size: 20px"  >
         
      </li>

      <!-- <li>
  <h5>Renewable Energy</h5>
  <mat-form-field >
  <mat-select (ngModelChange)="check($event)" [(ngModel)]="renewable"  >
  <mat-option value="100">100% RENEWABLE</mat-option>
                    <mat-option value="75">76% To 99%</mat-option>
                    <mat-option value="50">51% To 75%</mat-option>
                    <mat-option value="25">26% To 50%</mat-option>
                    <mat-option value="5">0% To 25%</mat-option>
                    <mat-option value="" selected="selected">N/A</mat-option>
  </mat-select>
  </mat-form-field>
  
  </li> -->








      <!-- <li>
  <h5> Price/kWh </h5>
  <div class="form-group label-floating">
  <label class="control-label">Min Price</label>
  <input   tabindex="2" maxlength="5"  type="text" class="form-control" [(ngModel)]="min"  name="min" >
  <span class="to"><b>To</b></span>
  
  
  
  
  </div>
  </li>
  <li>
  <div class="form-group label-floating">
  <label class="control-label">Max Price</label>
  <input   tabindex="3" maxlength="5"  type="text" class="form-control" [(ngModel)]="max"  name="max">
  </div>
  </li> -->


      <!-- <li> -->
      <!-- <h5>Custom Usage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-info-circle" aria-hidden="true" title=""></i></h5> -->
      <!-- <div class="form-group label-floating"> -->
      <!-- <label class="control-label">Add Custom Usage</label> -->
      <!-- <input type="text" class="form-control"[(ngModel)]="Custom_Usage" name="Custom_Usage"> -->
      <!-- </div> -->
      <!-- </li> -->
      <li>

        <h5> Contract Length</h5>


        <!-- ngRepeat: term in filters.terms -->

        <!-- end ngRepeat: term in filters.terms -->
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="months1" [(ngModel)]=months1 (ngModelChange)="check($event)">36 Months
          </label>

        </div>
        <!-- end ngRepeat: term in filters.terms -->
        <div class="checkbox">
          <label>
            <input type="checkbox" name="months2" [(ngModel)]=months2 (ngModelChange)="check($event)">24 Months
          </label>

        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="months3" [(ngModel)]=months3 (ngModelChange)="check($event)">18 Months
          </label>

        </div>
        <!-- end ngRepeat: term in filters.terms -->
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="months4" [(ngModel)]=months4 (ngModelChange)="check($event)">14 Months
          </label>

        </div>
        <!-- end ngRepeat: term in filters.terms -->
        <div class="checkbox">
          <label>
            <input type="checkbox" name="months5" [(ngModel)]=months5 (ngModelChange)="check($event)">12 Months
          </label>

        </div>
        <!-- end ngRepeat: term in filters.terms -->
        <div class="checkbox">
          <label>
            <input type="checkbox" name="months6" [(ngModel)]=months6 (ngModelChange)="check($event)">6 Months
          </label>

        </div>
        <!-- end ngRepeat: term in filters.terms -->
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="months7" [(ngModel)]=months7 (ngModelChange)="check($event)">4 Months
          </label>


        </div>
      </li>
      <!--  /.filter-category__heading -->

      <!-- <h5>Contract Length &nbsp;&nbsp;&nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="If you choose a plan with a long contract period, you may be subject to an early cancellation fee if you decide to change plans prior to the expiration of the contract period.Plans that are shorter give you more flexibility to switch, but they only lock in your set rate for a short amount of time.Month-to-Month plans are usually Variable or Indexed offers.."></i>
        </h5> -->
      <!-- <mat-form-field> -->
      <!-- <mat-select placeholder="In Months" (ngModelChange)="check($event)" [(ngModel)]="selectedvalue"  >
          <mat-option value="5 Months" style="font-size: 20px">5 Months</mat-option>
          <mat-option value="6 Months" style="font-size: 20px">6 Months</mat-option>
          <mat-option value="12 Months" style="font-size: 20px">12 Months</mat-option>
          <mat-option value="18 Months" style="font-size: 20px">18 Months</mat-option>
          <mat-option value="24 Months" style="font-size: 20px">24 Months</mat-option>
          <mat-option value="36 Months" style="font-size: 20px">36 Months</mat-option> -->
      <!-- <mat-option *ngFor="let x of usage" [value]="x.value">
  {{ x.viewValue }}
  </mat-option> -->
      <!-- </mat-select> -->
      <!-- </mat-form-field> -->

      <!-- <li>
  <h5>Company Name
  
  </h5>
 
  <mat-form-field>
  <mat-select placeholder="Company Title" (ngModelChange)="check($event)" required [(ngModel)]="title"name="title">
  
  <mat-option *ngFor="let t of title" [value]="t.title">
  {{t.title}}
  
  </mat-option>
  
  </mat-select>
 
  </mat-form-field>
  
  </li> -->
      <li>
        <h5>Pricing and Billing &nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="This filter allows you to view plans that do not have any recurring fees or credits included in the average per kWh price. If you choose to view plans with fees/credits included in the average per kWh price, you need to be aware that the average per kWh price may vary significantly from your actual billed price per kWh. Please review the fact sheets for these plans carefully before enrolling in a product."></i>
        </h5>
        <div class="radio">
          <label>
            <input type="radio" id="chckbx" (change)="aChecked = $event.target.checked"> Plans without minimum usage Fee/Credits
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" id="chckbx" (change)="bChecked = $event.target.checked">Show All Plans
          </label>
        </div>
      </li>
      <li> 
        
        <h5>Plan Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="Prepaid plans provide service on a “pay-as-you-go” basis. These plans require close monitoring or accurately estimating your monthly electric use to avoid disconnection.."></i>
        </h5>
        
        <div class="checkbox">
          <label>
             
            <input  type="checkbox" name="fixed" [(ngModel)]=fixed (ngModelChange)="check($event)"> Fixed Rate
          
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="vari (Changing Rate)" [(ngModel)]=vari (ngModelChange)="check($event)"> Variable
            <small>(changing rate)</small>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input  type="checkbox" name="index (Market Rate)" [(ngModel)]=index (ngModelChange)="check($event)"> Indexed
            <small>(market rate)</small>
          </label>
        </div>
      
      </li>
      <li>
        <h5>Prepaid Plans &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="Prepaid plans provide service on a “pay-as-you-go” basis. These plans require close monitoring or accurately estimating your monthly electric use to avoid disconnection.."></i>
        </h5>
        <div class="radio">
          <label>
            <input type="radio" name="prepaidPlans" checked="true" (ngModelChange)="check($event)"> Show All Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="prepaidPlans" (change)="preplanChecked = $event.target.checked"> Show only Prepaid Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="prepaidPlans" (change)="noplanChecked = $event.target.checked"> Do not show Prepaid Plans
          </label>
        </div>
      </li>
      <li>
        <h5>Time of Use Plans &nbsp;
          <i class="fa fa-info-circle" aria-hidden="true" title="Time-of-Use plans include incentives to use power during certain periods such as nights or weekends.  The average prices shown for Time-of-Use Plans are based on the REP’s estimate of energy used during discounted and non-discounted times.  Please note that the average price you pay will vary depending on your actual usage of energy during the discounted and non-discounted times.  See the glossary for details."></i>
        </h5>
        <div class="radio">
          <label>
            <input type="radio" name="timeofuseplan" checked="true" (ngModelChange)="check($event)" > Show All Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="timeofuseplan" (change)="onlyChecked = $event.target.checked"> Show only Time Of Use Plans
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="timeofuseplan" (change)="notChecked = $event.target.checked"> Do not show Time Of Use Plans
          </label>
        </div>
      </li>
      <li>
        <h5>Renewable</h5>
        <mat-select placeholder="Renewable" (ngModelChange)="check($event)" required [(ngModel)]="energy"name="energy">
          <mat-option value="100">100% RENEWABLE</mat-option>
          <mat-option value="76,99">76% To 99%</mat-option>
          <mat-option value="51,75">51% To 75%</mat-option>
          <mat-option value="26,50">26% To 50%</mat-option>
          <mat-option value="0,25">0% To 25%</mat-option>
          <mat-option value="" selected="selected">N/A</mat-option>
        </mat-select>
      </li>
      <li>
         <!-- <a  title="" data-original-title="Energy Companies:  Also called retail electric providers or REPs. They sell and bill electricity and provide customer service.">Info</a> -->
          <h5>Electric Companies</h5>
          <!-- <div class="select-f-sackers-heavy select-area" style="width: 160px;"> -->
          <!-- <span class="left"></span> -->
          <mat-form-field>
                  
            <mat-select  placeholder="Company" (ngModelChange)="check($event)" required [(ngModel)]="name"name="name" >

              <mat-option *ngFor="let data of title" [value]="data.title.split(' ',3000)[1]" >
                {{data.title}}
                
              </mat-option>
           
            </mat-select>
          </mat-form-field>
        <!-- <mat-form-field>
        
          <mat-select tabindex="28" id="companies" name="companies" selected="selected"(ngModelChange)="check($event)" required [(ngModel)]="title"name="title">
              
                  <mat-option *ngFor="let s of com;let i=index" [value]="s.title">
                    {{s.title}}

                  </mat-option> -->
               
            <!-- <mat-option value="">All</mat-option>
            <mat-option value="4CHANGE ENERGY">4CHANGE ENERGY</mat-option>
            <mat-option value="AMBIT ENERGY">AMBIT ENERGY</mat-option>
            <mat-option value="AMIGO ENERGY">AMIGO ENERGY</mat-option>
            <mat-option value="AP GAS &amp; ELECTRIC (TX) LLC">AP GAS &amp; ELECTRIC (TX) LLC</mat-option>
            <mat-option value="BOUNCE ENERGY INC">BOUNCE ENERGY INC</mat-option>
            <mat-option value="BREEZE ENERGY LLC">BREEZE ENERGY LLC</mat-option>
            <mat-option value="CHAMPION ENERGY SERVICES LLC">CHAMPION ENERGY SERVICES LLC</mat-option>
            <mat-option value="CIRRO ENERGY">CIRRO ENERGY</mat-option>
            <mat-option value="CONSERVICE ENERGY">CONSERVICE ENERGY</mat-option>
            <mat-option value="CPL RETAIL ENERGY">CPL RETAIL ENERGY</mat-option>
            <mat-option value="Circular Energy">Circular Energy</mat-option>
            <mat-option value="DIRECT ENERGY">DIRECT ENERGY</mat-option>
            <mat-option value="DISCOUNT POWER">DISCOUNT POWER</mat-option>
            <mat-option value="ENTRUST ENERGY INC">ENTRUST ENERGY INC</mat-option>
            <mat-option value="Energy Rewards">Energy Rewards</mat-option>
            <mat-option value="Express Energy">Express Energy</mat-option>
            <mat-option value="FIRST CHOICE POWER">FIRST CHOICE POWER </mat-option>
            <mat-option value="FRONTIER UTILITIES">FRONTIER UTILITIES</mat-option>
            <mat-option value="GEXA ENERGY">GEXA ENERGY</mat-option>
            <mat-option value="GREEN MOUNTAIN ENERGY COMPANY">GREEN MOUNTAIN ENERGY COMPANY</mat-option>
            <mat-option value="Hello Energy">Hello Energy</mat-option>
            <mat-option value="IGS ENERGY">IGS ENERGY</mat-option>
            <mat-option value="INFINITE ENERGY">INFINITE ENERGY</mat-option>
            <mat-option value="INFUSE ENERGY LLC">INFUSE ENERGY LLC</mat-option>
            <mat-option value="JUST ENERGY">JUST ENERGY</mat-option>
            <mat-option value="LIFEENERGY LLC">LIFEENERGY LLC</mat-option>
            <mat-option value="MIDAMERICAN ENERGY SERVICES LLC">MIDAMERICAN ENERGY SERVICES LLC</mat-option>
            <mat-option value="NEC Co-op Energy">NEC Co-op Energy</mat-option>
            <mat-option value="OUR ENERGY LLC">OUR ENERGY LLC</mat-option>
            <mat-option value="PAYLESS POWER">PAYLESS POWER</mat-option>
            <mat-option value="PENNYWISE POWER">PENNYWISE POWER </mat-option>
            <mat-option value="PIONEER ENERGY">PIONEER ENERGY</mat-option>
            <mat-option value="POWER EXPRESS">POWER EXPRESS</mat-option>
            <mat-option value="PRONTO POWER">PRONTO POWER </mat-option>
            <mat-option value="Pogo Energy">Pogo Energy</mat-option>
            <mat-option value="RELIANT">RELIANT</mat-option>
            <mat-option value="SOUTHWEST POWER &amp; LIGHT">SOUTHWEST POWER &amp; LIGHT</mat-option>
            <mat-option value="SPARK ENERGY LLC">SPARK ENERGY LLC</mat-option>
            <mat-option value="STARTEX POWER">STARTEX POWER</mat-option>
            <mat-option value="STREAM ENERGY">STREAM ENERGY</mat-option>
            <mat-option value="SUMMER ENERGY LLC">SUMMER ENERGY LLC</mat-option>
            <mat-option value="TARA ENERGY">TARA ENERGY</mat-option>
            <mat-option value="TEXPO ENERGY">TEXPO ENERGY</mat-option>
            <mat-option value="THINK ENERGY">THINK ENERGY</mat-option>
            <mat-option value="TRIEAGLE ENERGY LP">TRIEAGLE ENERGY LP</mat-option>
            <mat-option value="TXU ENERGY">TXU ENERGY</mat-option>
            <mat-option value="V247 POWER CORPORATION">V247 POWER CORPORATION</mat-option>
            <mat-option value="VETERAN ENERGY LLC">VETERAN ENERGY LLC</mat-option>
            <mat-option value="VOLT ELECTRICITY PROVIDER LP">VOLT ELECTRICITY PROVIDER LP</mat-option>
            <mat-option value="VOLTERRA ENERGY">VOLTERRA ENERGY</mat-option>
            <mat-option value="Viridian Energy">Viridian Energy</mat-option>
            <mat-option value="WINDROSE ENERGY">WINDROSE ENERGY</mat-option>
            <mat-option value="YEP">YEP</mat-option> -->
          <!-- </mat-select>
        </mat-form-field> -->
      </li>

      <li>
        <div class="text-center">
          <button type="button" class="btn btn-rose" (click)="companydata(); plantype(fixed,vari,index);nopaidplan();prepaidplan();nullplan(); fullplan();fetchmutimonth(months1,months2,months3,months4,months5,months6,months7)"> Search
            <i class="material-icons" title="Use these filters to set your preferences. Get rid of the plans you don’t want to see and only show those that fit your needs.">search</i>
          </button>
        </div>
      </li>
      <!-- <li>
  <h5>Ranging from</h5>
  <mat-slider thumbLabel min="0" max="100" step="5" value="0"></mat-slider>
  </li> -->
    </ul>
  </nav>
</div>