<div class="terms-container-wrapper">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="terms-condition-wrapper container">
            <h1>Save Dollars On Your Energy Bill Over the Holidays</h1>
              <hr>
              <h2> Introduction </h2>
             
              <p>
                  Holidays are not inexpensive!</p>
          <p>We luxuriously spend money on food, decorations, gifts, and travels. But the cost most likely to trip us is none other than those energy bills! </p>
          <p>With lightning decorations, heating and the indoor time with friends and family, the expenses are what that is really going to hit us at the end of the month!</p>
          <p>Don’t worry, with these smart hacks, ChoiceGenie ensures to soften the blow somewhat.</p>
          
          <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
                <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
              </p> -->
              <h2>Smart Hack # 01: Try to Lower Heating Cost</h2>
              <p>Secure cracks under your doors and windows.
              </p>
        
          <p>A starter guide: A draft guard can keep cold air out and hot air in. </p>
          <p>Try relying less on your home's central heating and use a portable heater instead.</p>
              <p>If you have a fireplace, use that super cozy utility to heat up a room.
                  If you are not, stop letting cold air in by using a balloon draft plug.
                  </p> 
                  <p>Install a connected heating and air-conditioning controller to monitor energy usage.</p>
                  <p>Find ways to save, and of course, control the thermostat from anywhere. </p>
                  <p>Is the house holding steady at 70 degrees while you're sitting in your office? </p>
                  <p>Not a problem, just tap the ChocieGenie app and bring it back down to 62 until you get home.</p>


              <h2>Smart Hack # 02: Inflatable Plastic Critters? NO!</h2>
          <p>Do not decorate your front yard with those inflatable plastic critters, no matter Santas, penguins, and snowmen!</p>
               <p>That is the worst thing you could do, of course as energy bill wise!<p>
          <p>They will hike your electricity bill surpassing your imagination and sure to deflate your bank account. </p>
              <p>In this case, do not grant your kids’ wishes!</p>
              <h2>Smart Hack # 03: Upgrade ASAP!</h2>
          <p>It is definitely a high time for an upgrade if you are still using the Christmas lights as the main decoration theme! </p>
          <p>What is more energy-efficient than that retro version of your decorations? Anything that has Energy Star logged stamped on it, in this case, YES, LED LIGHTS!</p>
          <p>Agreed, Incandescents are costly than those LED lights.</p>
          <p> But you'll eventually reap the rewards as long as the holiday spirit is alive, your pocket is safe!</p>
          <p>Consider upgrading this year with the knowledge that you may very well not have to buy another set of lights for a decade or so.</p>
          <p> As LED lights lasts longer!</p> 
  
        </div>
      </div>
    </div>
  </div>
  
  