<div class="new-product-holder">

  <h3 class="text-center">ADD NEW PRODUCT</h3>
  <hr />

  <div class="row">
    <!-- <form   *ngif="signupForm"> -->
    <form class="new-product-form" method="" action="" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <!-- <input matInput placeholder="First Name" [formControl]="signupForm.controls['fname']" required [(ngModel)]="model.fname"> -->

            <input matInput placeholder="Zipcode" required [(ngModel)]="model.zipcode" name="zipcode">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Utility Area" required [(ngModel)]="model.utilityarea" name="utilityarea">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <!-- <mat-select placeholder="Company Title" (ngModelChange)="check($event)" required [(ngModel)]="model.title"name="title">

  <mat-option *ngFor="let t of title" [value]="t.title">
  {{t.title}}

  </mat-option>

  </mat-select> -->
            <input matInput placeholder="Company Name" required [(ngModel)]="model.title" name="title">
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="col-md-8 col-sm-6">
  <div class="form-group">
  <mat-form-field>
  <input matInput placeholder="Profile URL"   required  [(ngModel)]="model.profileurl"name="profileurl">
  </mat-form-field>
  </div>
  </div> -->
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Profile Logo" required [(ngModel)]="model.profile_logo" name="profile_logo">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Rating Logo" required [(ngModel)]="model.rating_logo" name="rating_logo">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Plan Information" [(ngModel)]="model.plan_information" name="plan_information">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Price Details" [(ngModel)]="model.price_rate" name="price_rate">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Company Profile Link" [(ngModel)]="model.profileurl" name="profileurl">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Cancelation Fee" required [(ngModel)]="model.cancelation_fee" name="cencelation_fee">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Terms of Service " [(ngModel)]="model.terms_of_service" name="terms_of_service">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Fact Sheet " [(ngModel)]="model.fact_sheet" name="fact_sheet">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Contact Number" required [(ngModel)]="model.phone" name="phone">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Sign up Company" [(ngModel)]="model.sign_up" name="sign_up">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="minimum_usage_fee" [(ngModel)]="model.minimum_usage_fee" name="minimum_usage_fee">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Renewable price" [(ngModel)]="model.renewable" name="renewable">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Special Terms" [(ngModel)]="model.spectialterms" name="specialterms">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Price of 500 KWH" required [(ngModel)]="model.price_500_kwh" name="price_500_kwh">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Price of 1000 KWH" required [(ngModel)]="model.price_1000_kwh" name="price_1000_kwh">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Price of 2000 KWH" required [(ngModel)]="model.price_2000_kwh" name="price_2000_kwh">
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <button class="btn btn-lrg btn-rose btn-fill btn-wd" style="width:100%; border-radius:50px;font-size:24px !important;" type="submit"
            (click)="signupuserdata()">Add New Product </button>
        </div>
      </div>

    </form>
  </div>

</div>