<!-- <div >
    <div style="text-align: center;">
        <div class="clearfix"></div>
        <span style="font-size: 25px; font-weight: bold;" class="reviews--aspect--text">ChoiceGenie Product Score</span>
        <circle-progress
        [percent]="score"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>

      <div>{{totalrev}}</div>
  <div class="product-review">
      <h4 class="card-title">{{pro.title}} </h4>
      <img src="{{pro.profile_logo}}" alt="{{pro.title}}" style="width: 90%;
      margin-top: 6%;" />
      <p class="items-detail" *ngFor="let item of plan">
          {{item}}
        </p>
  </div>
    <div *ngFor="let item of rev" class="product-review">
      <div>

        <div class="review-content">

          <h3>{{item.username}}</h3>
          <div class="media-info">
              <div  class="rating"*ngIf="item.rate==5.00">
                  <p >Reviews: &nbsp;
                    <i class="fa fa-star"></i>
                    <i  class="fa fa-star"></i>
                    <i  class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i  class="fa fa-star"></i>
                </p></div>
                <div  class="rating"*ngIf="item.rate==4.5">
                    <p >Reviews: &nbsp;
                      <i class="fa fa-star"></i>
                      <i  class="fa fa-star"></i>
                      <i  class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i  class="fa fa-star-half-o"></i>
                  </p></div>
              <div  class="rating"*ngIf="item.rate==4.00">
                  <p >Reviews: &nbsp;
                    <i class="fa fa-star"></i>
                    <i  class="fa fa-star"></i>
                    <i  class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i  class="fa fa-star-o"></i>
                </p></div>
                <div  class="rating"*ngIf="item.rate==3.5">
                    <p >Reviews: &nbsp;
                      <i class="fa fa-star"></i>
                      <i  class="fa fa-star"></i>
                      <i  class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i  class="fa fa-star-o"></i>
                  </p></div>
                  <div  class="rating"*ngIf="item.rate==3.00">
                      <p >Reviews: &nbsp;
                        <i class="fa fa-star"></i>
                        <i  class="fa fa-star"></i>
                        <i  class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i  class="fa fa-star-o"></i>
                    </p></div>
                    <div  class="rating"*ngIf="item.rate==2.5">
                        <p >Reviews: &nbsp;
                          <i class="fa fa-star"></i>
                          <i  class="fa fa-star"></i>
                          <i  class="fa fa-star-half-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i  class="fa fa-star-o"></i>
                      </p></div>
                      <div  class="rating"*ngIf="item.rate==2.00">
                          <p >Reviews: &nbsp;
                            <i class="fa fa-star"></i>
                            <i  class="fa fa-star"></i>
                            <i  class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i  class="fa fa-star-o"></i>
                        </p></div>
                        <div  class="rating"*ngIf="item.rate==1.5">
                            <p >Reviews: &nbsp;
                              <i class="fa fa-star"></i>
                              <i  class="fa fa-star-half-o"></i>
                              <i  class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i  class="fa fa-star-o"></i>
                          </p></div>
                          <div  class="rating"*ngIf="item.rate==1.00">
                              <p >Reviews: &nbsp;
                                <i class="fa fa-star"></i>
                                <i  class="fa fa-star-o"></i>
                                <i  class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i  class="fa fa-star-o"></i>
                            </p></div>
                            <div  class="rating"*ngIf="item.rate==0.5">
                                <p >Reviews: &nbsp;
                                  <i class="fa fa-star-half-o"></i>
                                  <i  class="fa fa-star-o"></i>
                                  <i  class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i  class="fa fa-star-o"></i>
                              </p></div>
           

          </div>
         
          <br>
          <p style="display: -webkit-inline-box">{{item.comment}}</p>


        </div>
      
      </div>
    </div>
   
  </div> -->
<div class="container-fluid header-bar">
  <div class="container">
    <div class="row title-bar">
      <div class="col-lg-12">
        <h2>{{pro.title}}</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12 rating-main">
      <h1>Rating &amp; Reviews</h1>
      <div class="rating-box">
        <h2>Choice Genie Product Score</h2>
        <circle-progress [percent]="score" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
        <h4>Total Reviews:{{totalrev}}</h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12 signup-box">
      <h2>SIGN UP TODAY TO ENJOY:</h2>
      <div class="plan-info-box">
        <p class="items-detail" *ngFor="let item of plan">
          {{item}}
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>
  </div>
</div>


<div class="container-fluid logo-bar">
  <div class="container logo-inner">
    <img src="{{pro.profile_logo}}" alt="{{pro.title}}"  />
  </div>
</div>
<div class="container-fluid comments-box">
  <h1>Reviews</h1>
  <div class="review-content" *ngFor="let item of rev" class="product-review">
    <h3>{{item.username}}</h3>
    <div class="rating-star">
      <div class="rating" *ngIf="item.rate==5.00">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==4.5">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==4.00">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==3.5">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==3.00">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==2.5">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==2.00">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==1.5">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==1.00">
        <p>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>
      <div class="rating" *ngIf="item.rate==0.5">
        <p>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
      </div>

    </div>
    <p>{{item.comment}}</p>
    <hr>
  </div>
  
</div>