<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
          <h1>Mind-Boggling Hacks to Save Money on Energy</h1>
            <hr>
            <h2> Introduction </h2>
            <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
            </h3>

            <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
            </h3>
            <h2>Service Description</h2> -->
            <p>
              Admit it, saving energy is one of the first things you look into when you want to start saving money</p>
        <p>Keeping an eye on your gas and electricity bill is a vital step and it will help you understand where your money is going.</p>
        <p>
          However, while getting the best energy deal for your home is great, there are many other ways to reduce your electricity and gas consumption. 
        </p>
        <p>
          Saving money on energy is not only good for your pocket, but it also favors the environment!
        </p>
        <p>
          With these awesome hacks, you can potentially save hundreds of dollars just by making a few easy changes. – ChoiceGenie.
        </p>
        <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
              <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
            </p> -->
            <h2>STEP # 1: Turn Thermostat Down</h2>
            <p>Did you know that turning your thermostat down by 1°C can save you over $80 per year? 
            </p>
            <p>
              Well, we bet!
            </p>
      
        <p>Keeping your heating on constantly and at low consumption will potentially save you a lot of money compared to switching on and off a few times per day.</p>
           <p>
            If your house is well insulated, set your thermostat to 21°C (69 °F). 
           </p>  
            <h2>STEP # 2: Switch from Electric to Central Heating</h2>
        <p>Gas central heating is about 3-4 times cheaper than electricity per kWh.</p>
             <p>So if your house is still using electric heating, you should consider switching to central heating.<p>
        <p>Some Statistical Assurance: When you use an average of $80 per month on electric heating, that’s $960 per year! 
            </p>
            <p>So by changing to central heating, you will be able to save approximately a 75% of the money, which means saving $720/year.</p>
            <h2>STEP # 3: How about Batch Cooking for a Change?</h2>
        <p><b>ChoiceGenie</b> encourages the Genie readers to consider cooking in bulk.</p>
        <p>Thank you ChoiceGenie – on behalf of all the readers –, now you know by doing batch cooking, you’ll save a lot of electricity.</p>
        <p>This will save you not only money on energy but what’s even more important, a lot of time! </p>
        <p> The only thing is that you need a medium to large size freezer with space for a few plastic containers. Sorry!</p>
        
        <h2>STEP # 4: Air Dry Clothes: Indoor/Outdoor</h2>
          <p>You could set up space inside to air dry your clothes.</p>
        <p>Wasn’t that how people dried their clothes before dryers? Yes, I thought so too!</p>
            <p>It worked and still works, brilliantly.</p>

             
              

      </div>
    </div>
  </div>
</div>

