<section style="padding-top: 0px; padding-bottom: 0px; background: url(../assets/img/how.jpg) no-repeat; background-position: center center; background-size: cover;" class="blox   full-container  what_class w-animate  w-start_animation" >
  <div class="max-overlay"></div>
  <div class="wpb_row vc_row-fluid full-row">
    <div class="container">
      <div class="what wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <!-- <hr class="vertical-space2">
            <hr class="vertical-space2"> -->
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <h3 style="text-align: center; font-size:40px !important;">How it Works</h3>
                <p style="text-align: center; color: #fff; padding-bottom: 30px; font-weight:500">
                  GigsGenie is based on Simplicity and Ease-of-Use. With Gigs from all over the world, GigsGenie’s Deep Learning AI crunches every user’s skillset, areas of interest, expertise, trading habits, reviews and a whole lot more to create a multitudinous platform that, helps connect Sellers with Buyers trade in real-time.
                </p>
              </div>
            </div>
            <!-- <hr class="vertical-space2">
            <hr class="vertical-space2"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="how-it-works-wrapper">
  <div class="container">
    <div class="row">
      <h2>How it Works For Buyer</h2>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../assets/img/create-gig.png">
          <h3>1. Post a Gig</h3>
          <p>Create free account, post your Gig, and offer your work to seller.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/img/user.png">
          <h3>2. Hire Good Resource</h3>
          <p> Received offer from seller and use GigsGenie to discuss details with seller.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/img/payment.png">
          <h3>3. Submit Payment</h3>
          <p> Submit payment before start your order. Payment will be transferred to seller.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/img/get-paid.png">
          <h3>4. Receive Great work</h3>
          <p>Get your work done from seller and give reviews about his work.</p>
        </div>
      </div>
    </div>


     <div class="row">
      <h2>How it Works For Seller</h2>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
        <img src="../assets/img/showcase.png">
        <h3>1. Create Showcase</h3>
        <p>Create free account, create your Showcase, and offer your work to buyer.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
        <img src="../assets/img/bid-icon.png">
        <h3>2. Bid on Gigs</h3>
        <p>Get notified when buyer post a gig and bid on gigs with GigsGenie.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
        <img src="../assets/img/deliver-great-work.png">
        <h3>3. Deliver Great work</h3>
        <p>Deliver your great work to buyer with GigsGenie and make your profile better.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
        <img src="../assets/img/payment.png">
        <h3>4. Get paid</h3>
        <p>Get paid on time, Payment is transferred to you upon order completion.</p>
        </div>
      </div>
    </div> 
  </div>
</div>