<section id="overview" class="ptb-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-60">
        <div class="text-center appio-center-heading">
          <h2>Exclusive Features</h2>
        </div>
      </div>
    </div>
    <div class="row pb-40">
      <div class="col-md-5">
        <h3>Software Simulation:</h3>
        <ul class="list-square">
          <li>GenieCapture with its highly interactive software simulation can provide you an effective way to make learning captivating.</li>
          <li>Teachers set tracks for students to follow through, one missed step and you get reprimanded in the form of getting your errors shown in a new avatar; i.e.  shown your mistakes to learn and improve without letting your entire class known unlike old-fashioned school.</li>
          <li>The user can easily learn and improve; hence no more failed attempts.</li>
          <li>Make it in One Go!</li>
        </ul>
      </div>
      <div class="col-md-7">
        <div class="img-holder pl-30 pr-30">
          <img src="../../assets/img/sap-training2.png" alt="SAP Training" />
        </div>
      </div>
    </div>
    <div class="row ptb-60">
      <div class="col-md-5">
        <div class="img-holder" style="padding: 0 80px;">
          <img src="../../assets/img/video-simulation.png" alt="Video Simulation" />
        </div>
      </div>
      <div class="col-md-7">
        <h3>Video Simulation:</h3>
        <ul class="list-square">
          <li>
            <div class="mb-15">Easily Integrated tutorials!</div>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <strong class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">I. Recorder:</strong>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <ul>
                      <li>The recorder feature is a convenient tool designed for high-quality recording.</li>
                      <li>GenieCapture’s recorder enables you to record your voice without any flick slash swipe of your finger.</li>
                      <li>Accessible by users not inclined towards using hand-held devices</li>
                      <li>Techno-savvy users can rapture and bask under the cloud of GenieCapture</li>
                      <li>Everything you record in your own GenieCapture can be accessed with easy to go steps</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <strong class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">II. WebCam Recorder:</strong>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>WebCam of GenieCapture takes you one step ahead by providing you tech-induced facility to impart your knowledge to the world.</li>
                      <li>With its stand-alone recording feature, GenieCapture provides you means to create excellent e-learning tutorials.</li>
                      <li>So, start without further ado recording your high-quality videos and improve your teaching approach.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <strong class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">III. Board:</strong>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>Digital board to capture the attention of your students in a world digitalized.</li>
                      <li>Board feature make the teacher-student interaction much more effective and efficient like never before.</li>
                      <li>Experience and assimilate ideas with the technological enthusiasm.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
    <div class="row pt-60">
      <div class="col-md-4">
        <h3>Responsive Project:</h3>
        <ul class="list-square">
          <li>Fret not, whichever platform or device is in your usage currently, GenieCapture has the capability to capture all with its responsive orientation.</li>
          <li>Plug-in and experience the GenieCapture assisting you in deploying advanced elearning courses to facilitate workforce training.</li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="img-holder pl-60 pr-60">
          <img src="../../assets/img/Responsive-Project.png" alt="Responsive Project" />
        </div>
      </div>
    </div>
  </div>
</section>
