<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12" style="padding: 50px 0px; margin-left: 280px;" >

    <div class="page-title">
      <span>Contact Detail </span>

    </div>
<div class="ptb-80" >
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group margin">

                  <mat-form-field>
                  <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group margin">
  
                    <mat-form-field>
                    <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group margin">
    
                      <mat-form-field>
                      <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
                    </mat-form-field>
                  </div>
                </div>
            <br class="clearfix" />
            <div class="col-sm-6">
                <div class="form-group margin">
  
                    <mat-form-field>
                    <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
                  </mat-form-field>
                </div>
              </div>
          <br class="clearfix" />
          <div class="col-sm-6">
              <div class="form-group margin">

                  <mat-form-field>
                  <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
                </mat-form-field>
              </div>
            </div>
        <br class="clearfix" />
        <div class="col-sm-6">
            <div class="form-group margin">

                <mat-form-field>
                <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
              </mat-form-field>
            </div>
          </div>
      <br class="clearfix" />
      <div class="col-sm-6">
          <div class="form-group margin">

              <mat-form-field>
              <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
            </mat-form-field>
          </div>
        </div>
    <br class="clearfix" />
    <div class="col-sm-6">
        <div class="form-group margin">

            <mat-form-field>
            <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
          </mat-form-field>
        </div>
      </div>
  <br class="clearfix" />
  <div class="col-sm-6">
      <div class="form-group margin">

          <mat-form-field>
          <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
        </mat-form-field>
      </div>
    </div>
<br class="clearfix" />
<div class="col-sm-6">
    <div class="form-group margin">

        <mat-form-field>
        <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
      </mat-form-field>
    </div>
  </div>
<br class="clearfix" />
<div class="col-sm-6">
    <div class="form-group margin">

        <mat-form-field>
        <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
      </mat-form-field>
    </div>
  </div>
<br class="clearfix" />
<div class="col-sm-6">
    <div class="form-group margin">

        <mat-form-field>
        <input matInput placeholder="  Name" [formControl]="signupForm.controls['Name']" required [(ngModel)]="model.Name">
      </mat-form-field>
    </div>
  </div>
<br class="clearfix" />
<div class="col-sm-12">
    <div class="form-group margin">
        <button class="btn btn-lrg btn-rose btn-fill btn-wd" style="width:100%; border-radius:50px;font-size:24px !important;" type="submit">Register</button>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>



