<section id="body" class="width">
  <aside id="sidebar sticky" class="column-left">

      <header>

          <div class="super-sidebar-profile-img">

              <a href="/superdashboard">
                  <img src="../../assets/img/Choice_genie_logo.png" alt="ChoiceGenie" />
                  <!-- <img src="../assets/img/faces/avatar.jpg" /> -->
              </a>
          </div>

      </header>

      <nav id="mainnav">
          <ul>
              <li>
                  <a href="/">
                      Dashboard
                  </a>
              </li>

              <li>
                  <a href="/userprofile">
                      User Prolie
                  </a>
              </li>
              <!-- <li>
                  <a href="/sviewapartner">
                      view Partner
                  </a>
              </li> -->
              <!-- <li>
              <a href="/SuperChangePassword">
                Change Password
              </a>
            </li> -->
          </ul>
      </nav>
  </aside>
</section>

 