<!-- <div class="container" >
<div class="blog-bar">
  <div class="blog-inner">
    <h1>BLOG</h1>
    <div class="card" >
      <a routerLink="/blog1" style="cursor: pointer" class="font-main font-weight-normal color-additional">
        <img src="/assets/img/Texas-Electricity-Companies.jpg">
      </a>
      <div class="detail">
        <h2>Become Energy Efficient with these 4 Smart Hacks</h2>
        <p>Who couldn’t use a little extra cash?In this economy, people are seen saving a buck or two wherever possible.All those small savings add up over time and come handy when faced with a nasty electric bill! </p>
        <a routerLink="/blog1">Read More</a>
      </div>
    </div>
  </div>
</div>
</div> -->
<section class="pw-solutions">
  <div class="container">
    <h3 class="text-center choiecegenie-offers wow fadeInLeft"> BLOG </h3>
    <ul class="fourcolumns blog">

      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3>Become Energy Efficient with these 4 Smart Hacks</h3>
          <div class="txt-holder">
            <p>Who couldn’t use a little extra cash?In this economy, people are seen saving a buck or two wherever possible.All those small savings add up over time and come handy when faced with a nasty electric bill! </p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog2">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3>12 Easy Hacks: For Next Power Outage – Continued</h3>
          <div class="txt-holder">
            <p>No power yet again? ChoiceGenie has your covered you as promised!Let’s continue to our no-blackout tricks.</p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog3">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3>12 Easy Hacks: For Next Power Outage</h3>
          <div class="txt-holder">
            <p>The  most  wonderful  time  of  the  year  has  no  more  wonderment  factor  in some of its aspects!The oh-so-obvious aspect: No electricity and water!The coming of winter storms and constant lack of electricity and water make it question your eye-sight.</p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog4">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3>4 Clever Hacks: Save Big On Energy Usage</h3>
          <div class="txt-holder">
            <p>The  thick  heat  of  summer  is  the  beginning  of  a  series  of  very  heavy electricity bills.Hadn’t  you  have  to  kick  on  the  air  conditioning  a  few  times  already? Thought so!Did  you  know,  a  central  air  conditioning  unit  uses about  of  3k  watts  of energy.</p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog5">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3>Why Switch your Electricity Plan – Continued</h3>
          <div class="txt-holder">
            <p>As promised, ChoiceGenie will continue urging you to switch to plans that better suit your budget and needs, - being reasonable is the goal!</p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6" routerLink="/blog1">
        <div class="holder icons wow  fadeInRight cg-offers"   >
          <!-- <img src="../../assets/img/Billing-icon.png"/> -->
         
          <h3></h3>
          <div class="txt-holder">
            <p></p>
          </div>

        </div>
      </li>

    </ul>
  </div>
</section>