<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
          <h1>12 Easy Hacks: For Next Power Outage</h1>
            <hr>
            <h2> Introduction </h2>
            <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
            </h3>

            <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
            </h3>
            <h2>Service Description</h2> -->
            <p>
              The  most  wonderful  time  of  the  year  has  no  more  wonderment  factor  in some of its aspects!</p>
        <p>The oh-so-obvious aspect: No electricity and water!</p>
        <p> The coming of winter storms and constant lack of electricity and water make it question your eye-sight.</p>
              <p>Not only that, it gets difficult to stay warm and feed the family!
            </p>
            <p>ChoiceGenie has come up with solutions to this – threatening – problem, let’s delve into it!</p>
            <h2>Blackout Solution # 1: Freezer: Check!</h2>
            <p>Heard of quarter-in-a-cup-of-ice trick?
            </p>
      
        <p>Well, the name suggests it!</p>
             <p>Apply this and you no longer have to worry whether your food is safe to eat when there is a power outage.</p>
            <p>Trick  #  1:  Food  is  defrosted,  if  and  when  the  quarter  has  fallen  to  the bottom of the cup.</p>
           <p>Trick # 2: Food is perfectly edible when the quarter remains either on the top or in the middle of the cup.</p>
           
           <h2>Blackout Solution # 2: Create It Yourself Lantern!</h2>
        <p>Oh, it is pretty interesting</p>
             <p>Requirements:<p>
        <p>(1) Headlamp or flashlight.
            </p>
            <p>(2) Jug of water</p>
            <p>Procedure:</p>
            <p>Strap the headlamp or flashlight – if it is feasible – to a jug of water.</p>
            <p>Voilà! You have an instant ambient light at your disposal!</p>
            <h2>Blackout Solution # 3: Glow Sticks: In the Making!</h2>
        <p>A pretty brilliant trick to light up your way!</p>
        <p>Glow sticks come in handy when the lights go out.Use them to line dark hallways in the blackout.</p>
        <h2>Blackout Solution # 4: DIY a Heater!</h2>
        <p>Make a flower pot heater! </p>
        <p> Hold your horses, whether or not it actually works, is up for the debate.Just to assure you folks, plenty of people have affirmed it on YouTube.A  hint:  The thermal  energy  of  the  candles  is  better  absorbed  using Clay/terra-cotta pots. It brilliantly converts into a radiant space heat.</p>
       
        <h2>Blackout Solution # 5: Washer or Ice Cooler? You Decide!</h2>
          <p>Start with filling your washer with ice/snow.</p>
        <p>You would notice, it works as a cooler to keep food cold.</p>
        <p>The trick is: as the ice melts, the washer will drain.</p>
        <p>Don’t you find it a safer option than throwing food out in the snow?</p>
        <p>Bonus Point: easily monitored and will not attract animals.</p>
            <h2>Blackout Solution # 6: Candle Heat Tea!</h2>

              <p>Heat tea over a candle!</p>
              <p>If  you  do  not  have  a  gas  oven  and  some  Sterno,  we  let you borrow thishack.
              </p>
              <p>You’re welcome!</p>
              <p>That’s about it for today, folks!</p>
              <p>Subscribe  to ChoiceGenie  for  more  interesting  hacks  to  brave  the  next winter storm.</p>
<p>Until then, Stay warm!</p>
      </div>
    </div>
  </div>
</div>

