<app-loader></app-loader>
<app-header></app-header>
<div class="wrapper">
  <div class="home-main">
    <div id="main-bg-slider" class="carousel slide carousel-fade slider-main" data-ride="carousel" data-interval="4000">
      <!--download store icons-->
      <div class="download-here">
        <a href="#">
          <img src="../../assets/img/footer/Adroid-Badge.png" style="width: 114px">
        </a>
        <a href="#">
          <img src="../../assets/img/footer/IOS-Badge.png" style="width: 100px">
        </a>
      </div>
      <!-- Indicators -->
      <!--<ol class="carousel-indicators">-->
      <!--<li data-target="#main-bg-slider" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#main-bg-slider" data-slide-to="1"></li>-->
      <!--<li data-target="#main-bg-slider" data-slide-to="2"></li>-->
      <!--<li data-target="#main-bg-slider" data-slide-to="3"></li>-->
      <!--<li data-target="#main-bg-slider" data-slide-to="4"></li>-->
      <!--<li data-target="#main-bg-slider" data-slide-to="5"></li>-->
      <!--<li data-target="#main-bg-slider" data-slide-to="6"></li>-->
      <!--</ol>-->
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <label class="search-bg__title animated fadeInDown">Shop with a ROAR: ChoiceGenie is The Next Generation Energy Comparative Shopping Engine – A Super Fast, Super Easy
            Time n’ Money Saving Experience!</label>
          <img src="../../assets/img/1.jpg" alt="" />
        </div>

        <div class="item">
          <label class="search-bg__title animated fadeInUp"> Compare n’ Shop Energy on Mobile: Experience our next generation Artificially Intelligent Comparative Shopping
            App on Google Play Store and Apple App Store.</label>
          <img src="../../assets/img/0.jpg" alt="" />
        </div>

        <div class="item">
          <label class="search-bg__title animated fadeInDown">ChoiceGenie employs Deep Learning & Artificial Intelligence to Analyze Energy Consumption, Match, Connect, Alert
            and Connect Buyers with Energy Providers – Our AI is called “ChoiceGenie”.</label>
          <img src="../../assets/img/headerelectric.jpg" alt="" />
        </div>

        <!--<div class="item">-->
        <!--<label class="search-bg__title animated fadeInDown">Experience our next generation Artificially Intelligent Auction Marketplace MobileApp on Google Play Store and Apple App Store</label>-->
        <!--<img src="../../assets/img/home-slider/4.jpg" alt="" />-->
        <!--</div>-->

        <!--<div class="item">-->
        <!--<label class="search-bg__title animated fadeInDown">CramFrenzy assists Students, Tutors and Professionals in researching, trading and bidding on desired educational material at the best price from top and trusted Instructors & Tutors</label>-->
        <!--<img src="../../assets/img/home-slider/5.png" alt="" />-->
        <!--</div>-->

        <!--<div class="item">-->
        <!--<label class="search-bg__title animated fadeInDown">Cutting to the chase, CramFrenzy is the Online Cram Universe: Learn with a Roar!</label>-->
        <!--<img src="../../assets/img/home-slider/6.jpg" alt="" />-->
        <!--</div>-->

        <!--<div class="item">-->
        <!--&lt;!&ndash;<label class="search-bg__title animated fadeInDown">Give Your Learning Wings - CourseFrenzyhas a 360 degree spectrum of courses for all kinds and categories: BUY, SELL, RENT & BID Now!</label>&ndash;&gt;-->
        <!--<img src="../../assets/img/home-slider/7.jpg" alt="" />-->
        <!--</div>-->
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#main-bg-slider" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" style="left:30%;"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#main-bg-slider" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" style="right:30%;"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="form-home">
        <div class="container-fluid">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-zip">
            <div class="card wow fadeInRight margintop" data-wow-duration="2s" style="height: 160px">
              <div class="card-header card-header-text wow fadeInLeft" data-wow-duration="2s" data-background-color="rose">
                <h4 class="card-title">Compare Rates Now!</h4>
              </div>
              <div class="clearfix">
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput placeholder="Promo Code" [formControl]="promo" [errorStateMatcher]="matcher" />
                      <mat-error *ngIf="promo.hasError('pattern')">
                        Numbers Only
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div> -->

                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <mat-form-field>
                      <input matInput placeholder="Zip Code" [formControl]="zip_code" [(ngModel)]=zipCode #zip name="zipCode" />
                      <mat-error *ngIf="zip_code.hasError('pattern')">
                        Numbers Only
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6 pull-right text-right">
                  <div class="form-group">
                    <button type="submit" class="btn btn-rose">Submit</button>
                  </div>
                </div>
              </div>
              <!-- <div class="clearfix">
                <div class="col-md-6 pull-right text-right">
                  <div class="form-group">
                    <button type="submit" class="btn btn-rose">Submit</button>
                  </div>
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--<section class="bannerCarousel">-->
    <!--<div class="download-here">-->
    <!--<a href="https://play.google.com/store/apps/details?id=com.brainplow.brainplow.coursefrenzy&amp;hl=en" target="_blank">-->
    <!--<img src="../../assets/img/Adroid-Badge.png" style="width: 114px">-->
    <!--</a>-->
    <!--<a href="https://play.google.com/store/apps/details?id=com.brainplow.brainplow.coursefrenzy&amp;hl=en" target="_blank">-->
    <!--<img src="../../assets/img/IOS-Badge.png" style="width: 100px">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="slick-testimonal normal-slider bg-slider">-->
    <!--<div class="slider-img">-->

    <!--<img src="../../assets/img/home-4.jpg" alt="image description" style="height:570px; position: relative" />-->
    <!--<p class="slider-tagline animated fadeInDown">Hundreds of Dollars per year On-Average Savings to the Energy Consumer:- -->
    <!--<br> This Genie does it ALL for you!</p>-->
    <!--</div>-->
    <!--<div class="slider-img">-->
    <!--<img src="../../assets/img/home-5.jpg" alt="image description" style="height:570px" />-->
    <!--<p class="slider-tagline animated fadeInUp">With ChoiceGenie’s Vendor Matching AI, Bidding Engine, Product Showcase, Realtime Chat & a whole lot more, ChoiceGenie-->
    <!--goes the Extra Mile for a Trust-Based Energy Shopping Experience!</p>-->
    <!--</div>-->
    <!--<div class="slider-img">-->
    <!--<img src="../../assets/img/home-6.jpg" alt="image description" style="height:570px" />-->
    <!--<p class="slider-tagline animated fadeInLeft">Shop with a ROAR: ChoiceGenie is The Next Generation Energy Comparative Shopping Engine – A Super Fast, Super-->
    <!--Easy Time n’ Money Saving Experience!</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;-->
    <!--<carousel>-->
    <!--<slide>-->


    <!--<img src="assets/img/home-4.jpg" alt="First slide" style="display: block; width: 100%; height:500px;">-->
    <!--<div class="carousel-caption d-none d-md-block">-->

    <!--</div>-->
    <!--</slide>-->
    <!--<slide>-->
    <!--<img src="assets/img/home-5.jpg" alt="Second slide" style="display: block; width: 100%; height:500px;">-->
    <!--<div class="carousel-caption d-none d-md-block">-->

    <!--</div>-->
    <!--</slide>-->
    <!--<slide>-->
    <!--<img src="assets/img/home-6.jpg" alt="Third slide" style="display: block; width: 100%; height:500px;">-->
    <!--<div class="carousel-caption d-none d-md-block">-->

    <!--</div>-->
    <!--</slide>-->
    <!--</carousel> &ndash;&gt;-->
    <!--&lt;!&ndash; <ngx-carousel [inputs]="carouselOne" class="">-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<img src="../../assets/img/home-4.jpg" alt="image description" />-->
    <!--</ngx-item>-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<img src="../../assets/img/home-5.jpg" alt="image description" />-->
    <!--</ngx-item>-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<img src="../../assets/img/home-6.jpg" alt="image description" />-->
    <!--</ngx-item>-->
    <!--<button NgxCarouselPrev class='leftRs buttons'>-->
    <!--<i class="material-icons">keyboard_arrow_left</i>-->
    <!--</button>-->
    <!--<button NgxCarouselNext class='rightRs buttons'>-->
    <!--<i class="material-icons">keyboard_arrow_right</i>-->
    <!--</button>-->
    <!--</ngx-carousel> &ndash;&gt;-->


    <!--<div class="form-home">-->
    <!--<div class="container-fluid">-->
    <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-zip">-->
    <!--<div class="card wow fadeInRight margintop" data-wow-duration="2s" style="height: 160px">-->
    <!--<div class="card-header card-header-text wow fadeInLeft" data-wow-duration="2s" data-background-color="rose">-->
    <!--<h4 class="card-title">Compare Rates Now!</h4>-->
    <!--</div>-->
    <!--<div class="clearfix">-->
    <!--&lt;!&ndash; <div class="col-md-6">-->
    <!--<div class="form-group">-->
    <!--<mat-form-field>-->
    <!--<input matInput placeholder="Promo Code" [formControl]="promo" [errorStateMatcher]="matcher" />-->
    <!--<mat-error *ngIf="promo.hasError('pattern')">-->
    <!--Numbers Only-->
    <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->

    <!--<div class="col-md-6">-->
    <!--<div class="form-group label-floating">-->
    <!--<mat-form-field>-->
    <!--<input matInput placeholder="Zip Code" [formControl]="zip_code" [(ngModel)]=zipCode #zip name="zipCode" />-->
    <!--<mat-error *ngIf="zip_code.hasError('pattern')">-->
    <!--Numbers Only-->
    <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 pull-right text-right">-->
    <!--<div class="form-group">-->
    <!--<button type="submit" class="btn btn-rose">Submit</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="clearfix">-->
    <!--<div class="col-md-6 pull-right text-right">-->
    <!--<div class="form-group">-->
    <!--<button type="submit" class="btn btn-rose">Submit</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <section class="choose-criteria">
      <div class="container">
        <ul>
          <li class="wow bounceInLeft" data-wow-duration="2s">
            <a routerLink="/residential">
              <i class="material-icons">explore</i>
              <h4>Residential</h4>
              <p>Get premium quality service at great prices.</p>
            </a>
          </li>
          <li class="wow  fadeInUp" data-wow-duration="2s">
            <a routerLink="/commercial">
              <i class="material-icons">polymer</i>
              <h4>Commercial</h4>
              <p>Proven solutions for a change.</p>
            </a>
          </li>
          <li class="wow  bounceInRight" data-wow-duration="2s">
            <a routerLink="/pages/login">
              <i class="material-icons">lock_open</i>
              <h4>Member Login</h4>
              <p>Bill Payments, Electricity usage, Historical data and more.</p>
            </a>
          </li>
        </ul>
      </div>

    </section>

    <!-- <section class="packages-holder"> -->
    <!-- <div class="container"> -->
    <!-- <h3 class="heading">Featured Plans</h3> -->
    <!--<ngx-carousel [inputs]="carouselTwo" class="carouselTwo">-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</ngx-item>-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-3.jpeg">-->
    <!--</a>-->
    <!--<div class="ripple-container"></div>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Office Studio</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Metro Station and bus stop just 2 min by walk and near...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$1.119/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> London, UK</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</ngx-item>-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-1.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Beautiful Castle</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Metro Station and bus stop just 2 min by walk and near...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$459/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Milan, Italy</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</ngx-item>-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-3.jpeg">-->
    <!--</a>-->
    <!--<div class="ripple-container"></div>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Office Studio</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Metro Station and bus stop just 2 min by walk and near...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$1.119/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> London, UK</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</ngx-item>-->
    <!--<ngx-item NgxCarouselItem>-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</ngx-item>-->
    <!--<button NgxCarouselPrev class='leftRs buttons btn btn-rose btn-xs'>-->
    <!--<i class="material-icons">keyboard_arrow_left</i>-->
    <!--</button>-->
    <!--<button NgxCarouselNext class='rightRs buttons btn btn-rose btn-xs'>-->
    <!--<i class="material-icons">keyboard_arrow_right</i>-->
    <!--</button>-->
    <!--</ngx-carousel>-->
    <!-- <div class="btn-holder"> -->
    <!-- <button type="button" class="btn btn-lg btn-rose">VIEW ALL PLANS <i class="material-icons">arrow_forward</i></button> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->

    <!--<section class="interest-area ">-->

    <!--<div class="container ">-->
    <!--&lt;!&ndash; <h3 class="text-center">Search By Area</h3> &ndash;&gt;-->
    <!--<table style="margin: 15px; border-left: 5px solid #787878;">-->

    <!--<tbody>-->
    <!--<tr>-->
    <!--<td style="color: #787878;">-->
    <!--<h1 style="color: #787878; font-size: 25px;" class="wow bounceInRight" data-wow-duration="2s">&nbsp;&nbsp;WE OFFER LOW ELECTRICITY RATES</h1>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<style>-->
    <!--P SPAN {-->
    <!--POSITION: relative;-->
    <!--LEFT: 10px-->
    <!--}-->
    <!--</style>-->
    <!--<tr>-->
    <!--<td style="color: #787878; line-height: 25px; font-weight: normal; font-size: 14px; margin-left: 15px;">-->
    <!--<p class="wow  bounceInUp">-->
    <!--<span>Built on decades of industry experience, innovation and inspiration,ChoiceGenie is an Artificially Intelligent-->
    <!--Comparative Shopping App for residential and commercial electric services. Genie is a Texas-based electricity-->
    <!--company founded on the idea that electricity should be affordable and contribute to where you live. Want-->
    <!--to make a difference in your community? Sign up for a low electricity rate and we’ll make a charitable-->
    <!--contribution on your behalf. It’s that simple.</span>-->
    <!--</p>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

    <!--</div>-->
    <!--</section>-->
    <div style="background-color: #ffffff">
      <div>
        <header class="entry-header contatiner-fluid">
          <h1 class="full-width-title entry-title" itemprop="headline">Comparing USA Electricity Rates Has Never Been Easier</h1>
          <p class="intro-subtitle">When you’re ready to shop electricity plans and providers for your home or business, we’re here to help.</p>
        </header>
        <div class="content-row home-columns">
          <div class="wrap-zips">
            <div class="home-column home-column-1 wow zoomInLeft  ">
              <span class="home-column-number">1</span>
              <div class="home-column-inner">
                <img src="../../assets/img/enter-zip-code.png" class="home-column-image img-responsive" alt="Enter Zip Code">
              </div>
              <p class="home-column-title">Enter Your Zip Code</p>
            </div>
            <div class="home-column home-column-2 wow zoomInUp  ">
              <span class="home-column-number">2</span>
              <div class="home-column-inner">
                <img src="../../assets/img/step3.png" class="home-column-image img-responsive" alt="Step 2">
              </div>
              <p class="home-column-title">Compare Electricity Plans</p>
            </div>
            <div class="home-column home-column-3 wow zoomInRight ">
              <span class="home-column-number">3</span>
              <div class="home-column-inner">
                <img src="../../assets/img/step2.png" class="home-column-image img-responsive" alt="Step 1">
              </div>
              <p class="home-column-title">Select A Plan</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<section class="in-your-area">-->
    <!--<section class="desc-banner">-->

    <!--<div class="container">-->

    <!--<h2 class="text-center  wow  fadeInLeft">Plans in your Area</h2>-->
    <!--<div class="container">-->
    <!--&lt;!&ndash; <img src="../../assets/img/choicegenie banner-01.png" width="100%" height="100%"  alt="image description" /> &ndash;&gt;-->
    <!--<div class="autoplay">-->


    <!--<div class="item  " *ngFor="let data of sg['products']; let i = index" class="autoplay-item {{ (i == 0) ? 'active' : ''}}">-->
    <!--<div class="col-md-12">-->

    <!--<div class="card">-->

    <!--&lt;!&ndash; <img _ngcontent-c0="" class="img" src="../assets/img/c8.jpg"> &ndash;&gt;-->

    <!--<img class="img-fluid" src="{{data.profile_logo}}" alt="Card image cap">-->

    <!--<div class="card-body">-->
    <!--<h4 class="card-title">{{data.title}}</h4>-->

    <!--&lt;!&ndash; <h3 *ngFor="let items of data.price_rate" class="text-center">-->
    <!--{{items}}$-->
    <!--</h3> &ndash;&gt;-->
    <!--&lt;!&ndash; <p >{{data.plan_information}}</p> &ndash;&gt;-->
    <!--&lt;!&ndash; <p   class="card-text" *ngFor="let itemss of data.plan_information">{{itemss}}</p> &ndash;&gt;-->
    <!--&lt;!&ndash; <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> &ndash;&gt;-->
    <!--&lt;!&ndash; <a class="btn btn-primary">Button</a> &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; <p   class="card-text" *ngFor="let itemss of data.plan_information">{{itemss}}</p> &ndash;&gt;-->
    <!--<a style="color:white" href="{{data.profileurl}}" target="_blank">-->
    <!--<button class="btn btn-rose"> Signup-->
    <!--&lt;!&ndash; <i class="material-icons">bubble_chart</i> &ndash;&gt;-->
    <!--</button>-->
    <!--</a>-->
    <!--&lt;!&ndash; </div> &ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->


    <!--</div>-->







    <!--&lt;!&ndash; <div class="item" *ngFor="let data of sg['products']; let i = index"class="autoplay-item {{ (i == 0) ? 'active' : ''}}">-->
    <!--<div class="">-->

    <!--<div class="col-md-12">-->
    <!--<div class="card">-->

    <!--<img class="img-fluid" src={{data.profile_logo}}>-->
    <!--<div class="card-body">-->

    <!--<h4 class="card-title">-->
    <!--<a href ="#pablo">{{data.title}}</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--{{data.title}}-->
    <!--</div>-->
    <!--<h4>{{data.price_rate}}</h4>-->


    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!--</div> &ndash;&gt;-->


    <!--&lt;!&ndash; <div class="item">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Card title</h4>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a class="btn btn-primary">Button</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--&lt;!&ndash;  <div class="item">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Card title</h4>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a class="btn btn-primary">Button</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Card title</h4>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a class="btn btn-primary">Button</a>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->

    <!--</div>-->


    <!--&lt;!&ndash; </div>-->
    <!--<div class="item">-->
    <!--<div class="col-md-12">-->
    <!--<div class="card">-->
    <!--<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h4 class="card-title">Card title</h4>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a class="btn btn-primary">Button</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&ndash;&gt;-->

    <!--&lt;!&ndash; </div> &ndash;&gt;-->








    <!--&lt;!&ndash; <div class="col-md-4">-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--&lt;!&ndash; <div class="col-md-4">-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--&lt;!&ndash; <div class="col-md-3">-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--&lt;!&ndash; <div class="col-md-3">-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--&lt;!&ndash; <div class="col-md-3">-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--&lt;!&ndash; <div class="col-md-3">-->
    <!--<div class="card card-product">-->
    <!--<div class="card-image" data-header-animation="true">-->
    <!--<a href="#pablo">-->
    <!--<img class="img" src="../assets/img/card-2.jpeg">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="card-content">-->
    <!--<h4 class="card-title">-->
    <!--<a href="#pablo">Cozy 5 Stars Apartment</a>-->
    <!--</h4>-->
    <!--<div class="card-description">-->
    <!--The place is close to Barceloneta Beach and bus stop just 2 min by walk and...-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--<div class="price">-->
    <!--<h4>$899/night</h4>-->
    <!--</div>-->
    <!--<div class="stats pull-right">-->
    <!--<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="row">-->
    <!--<div class="col col-md-4">-->
    <!--<a href="#">-->
    <!--<div class="cover">-->
    <!--<img src="../../assets/img/card-1.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<div class="overlay">-->
    <!--<h4>Description about weekly plans</h4>-->
    <!--<ul>-->
    <!--<li>Our point number one</li>-->
    <!--<li>Our point number two</li>-->
    <!--</ul>-->
    <!--<p>Some description here. Lorum ipsum is the standard dummy text.</p>-->
    <!--</div>-->
    <!--<p>Weekly Plan</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col col-md-4">-->
    <!--<a href="#">-->
    <!--<div class="cover">-->
    <!--<img src="../../assets/img/card-2.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<div class="overlay">-->
    <!--<h4>Description about monthly plans</h4>-->
    <!--<ul>-->
    <!--<li>Our point number one</li>-->
    <!--<li>Our point number two</li>-->
    <!--</ul>-->
    <!--<p>Some description here. Lorum ipsum is the standard dummy text.</p>-->
    <!--</div>-->
    <!--<p>Monthly Plan</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col col-md-4">-->
    <!--<a href="#">-->
    <!--<div class="cover">-->
    <!--<img src="../../assets/img/card-3.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<div class="overlay">-->
    <!--<h4>Description about yearly plans</h4>-->
    <!--<ul>-->
    <!--<li>Our point number one</li>-->
    <!--<li>Our point number two</li>-->
    <!--</ul>-->
    <!--<p>Some description here. Lorum ipsum is the standard dummy text.</p>-->
    <!--</div>-->
    <!--<p>Yearly Plan</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col col-md-3">-->
    <!--<a href="#">-->
    <!--<div class="cover small">-->
    <!--<img src="../../assets/img/card-3.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<p>Area Plan 1</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col col-md-3">-->
    <!--<a href="#">-->
    <!--<div class="cover small">-->
    <!--<img src="../../assets/img/card-2.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<p>Area Plan 2</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col col-md-3">-->
    <!--<a href="#">-->
    <!--<div class="cover small">-->
    <!--<img src="../../assets/img/card-1.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<p>Area Plan 3</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col col-md-3">-->
    <!--<a href="#">-->
    <!--<div class="cover small">-->
    <!--<img src="../../assets/img/card-2.jpeg" alt="image description" />-->
    <!--</div>-->
    <!--<p>Area Plan 4</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--</div>-->
    <!--</section>-->
    <!--</section>-->
    <div class="container-fluid  " style="background-color: #414142; color: white">
      <header class="entry-header contatiner-fluid wow fadeInRight" data-wow-duration="1s">
        <h1 class="full-width-title entry-title texas-heading" itemprop="headline"> Electricity Companies At Your Fingertips
        </h1>
      </header>
      <div class="texas-inline">
        <div class="texas-img">
          <img class="img-responsive wow zoomInLeft" data-wow-duration="1s" src="/assets/img/Texas-Electricity-Companies.jpg" />
        </div>
        <div class="texas-text  ">
          <h3 class="texas-sub-heading  wow slideInRight" data-wow-duration="1s">Choice & Savings</h3>
          <p class="wow slideInLeft" data-wow-duration="1s">We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially
            Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace
            for Energy Vendors/Products. Our technology is bleeding edge and was engineered with a singular goal: Save the
            consumer Time n’ Money! .</p>
          <p Class="wow slideInLeft" data-wow-duration="1s">Compare n’ Shop Energy on Mobile: Experience our next generation Artificially Intelligent Comparative Shopping
            App on
            <a href="https://play.google.com/store/apps/details?id=com.brainplow.choicegenie">Google Play Store </a>and Apple App Store.</p>
        </div>
      </div>
    </div>
    <div class="content-box-01 padding-bottom-63">
      <div class="container">
        <div class="text-center">
          <h3 class="title-02 wow slideInLeft">Top Rated Products</h3>
        </div>
        <div class="slick-date normal-slider owl-option-01 owl-theme-01">
          <div class="owl-theme-01__item box-bg">
            <img src="../../assets/img/providers/Amigo-Energy-min.jpg">
          </div>
          <div class="owl-theme-01__item box-bg">
            <img src="../../assets/img/providers/Champion-Energy-Services-min.jpg">
          </div>
          <div class="owl-theme-01__item box-bg">
            <img src="../../assets/img/providers/Amigo-Energy-min.jpg">
          </div>
          <div class="owl-theme-01__item box-bg">
            <img src="../../assets/img/providers/Amigo-Energy-min.jpg">
          </div>
        </div>
      </div>
    </div>
    <!-- <section class="desc-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>TEXAS ENERGY SERVICES</h2>
            <p>Top quality and affordable</p>
            <h2>BEST  PRICE, BEST  SERVICE </h2>
            <!-- <p>You have the power to choose best electricity provider</p> -->

    <!-- <div class="btn-holder">
              <button type="button" class="btn btn-rose btn-lg">VIEW PLANS
                <i class="material-icons">keyboard_arrow_right</i>
              </button>
            </div> -->
    <!-- </div>
        </div>
      </div>
    </section> -->
    <section class="pw-solutions">
      <div class="container">
        <h3 class="text-center choiecegenie-offers wow fadeInLeft">ChoiceGenie Offers</h3>
        <ul class="fourcolumns">

          <li>
            <div class="holder icons wow  fadeInRight" style="height: 350px">
              <!-- <img src="../../assets/img/Billing-icon.png"/> -->
              <a class="img-holder">
                <i class="material-icons">credit_card</i>
              </a>
              <h3>Billing Solutions</h3>
              <div class="txt-holder">
                <p>Pay lower energy rates by selecting the plans of your choice.</p>
              </div>

            </div>
          </li>
          <li>
            <div class="holder icons wow  fadeInUp" style="height: 350px">
              <a class="img-holder">
                <i class="material-icons">face</i>
              </a>
              <h3> Better Services</h3>
              <div class="txt-holder">
                <p>Get the top rated electricity providers based on low rates and high priority</p>
              </div>

            </div>
          </li>
          <li>
            <div class="holder icons  wow  fadeInUp" style="height: 350px">
              <a class="img-holder">
                <i class="material-icons">autorenew</i>
              </a>
              <h3>Connections</h3>
              <div class="txt-holder">
                <p>Directly establish communication with electricity providers concerning their electricity plans.</p>
              </div>

            </div>
          </li>
          <li>
            <div class="holder icons   wow  fadeInLeft " style="height: 350px">
              <a class="img-holder">
                <i class="material-icons">home</i>
              </a>
              <h3>Sustainable Future</h3>
              <div class="txt-holder">
                <p>Promote renewable resources for environmental friendly North America</p>
              </div>

            </div>
          </li>


        </ul>
      </div>
    </section>
    <hr>
    <section class="pw-solutions">
      <div class="container">
        <div class="row">
          <h3 class="text-center choiecegenie-offers wow fadeInLeft col-lg-12 col-md-12 col-sm-12" style="visibility: visible; padding-bottom: 30px">How it works for Buyers?</h3>
          <div class="col-md-3 col-sm-3 col-xs-6  wow fadeInLeft" data-wow-duration="1s">
            <div class="how-it-works-box ">
              <img class="img-holder" src="../assets/img/Signupforchoicegenie.png" style="width: 150px;">
              <h3>1. Signup on ChoiceGenie</h3>
              <p>Signup on ChoiceGenie is Super Easy and takes less than a few minutes on Web or Mobile: Download our next generation
                Artificially Intelligent App on Google Play Store or Apple App Store.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6  wow fadeInUp" data-wow-duration="1s">
            <div class="how-it-works-box">
              <img src="../../assets/img/Search-For-Plans-and-Products.png" style="width: 150px;">
              <h3>2. Search for Plans/Products</h3>
              <p>Enter your Zipcode. ChoiceGenie will recommend the Top Vendors/Plans with the Best Options to SAVE you Hundreds
                of Dollars a Year! It hardly takes a few minutes.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6  wow fadeInDown" data-wow-duration="1s">
            <div class="how-it-works-box">
              <img src="../../assets/img/Analyze-your-energy-consumption.png" style="width: 150px;">
              <h3>3. Analyze your Energy Consumption</h3>
              <p> Setup your profile and let our proprietary AI Crunch/Analyze your Energy Consumption. Based on these Hard-Core
                Analytics, ChoiceGenie will alert you on Energy Saving Tips & Vendor/Plan Change Recommendations.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6   wow fadeInRight" data-wow-duration="1s">
            <div class="how-it-works-box">
              <img src="../../assets/img/Enjoy-the-Savings.png" style="width: 150px;">
              <h3>4. Enjoy the Savings</h3>
              <p>After you Signup for the best Energy Product/Pricing, leave a Review for the Energy Vendor. Elevate your comparative
                shopping experience to a whole new level with ChoiceGenie. Signup Now.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="success-for-business">
      <div class="container">
        <h2 class="text-center wow fadeInLeft" data-wow-duration="1s">
          <strong>Best </strong> Electricity Provider
        </h2>
        <div class="row">
          <div class="col-md-4">
            <article class="icon-box wow fadeInLeft" data-wow-duration="1s">
              <i class="material-icons">wb_sunny</i>
              <h4>Better Planning</h4>
              <p>We take the time to understand your needs by analyzing your previous energy consumption. This enables us to
                propose short and long term solutions.</p>
            </article>
          </div>
          <div class="col-md-4">
            <article class="icon-box wow fadeInUp" data-wow-duration="1s">
              <i class="material-icons">blur_on</i>
              <h4>Better Electricity</h4>
              <p>ChoiceGenie market experts pre-purchase bulk volumes of electricity at the lowest rates.</p>
            </article>
          </div>
          <div class="col-md-4">
            <article class="icon-box wow fadeInRight" data-wow-duration="1s">
              <i class="material-icons">trending_down</i>
              <h4>Reduce Electricity Cost</h4>
              <p>Pay lower energy rates! We deliver affordable electricity prices which translate to substantial energy savings.</p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-footer-cmp></app-footer-cmp>