<div class="footer-upper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h2>Who Are We?</h2>
          <!--<p>No more nuisances in Creating, refining and managing High quality e-learning content for your Modern audience. <br />Three Exclusive Features One Platform. Explore Most Flexible Modules with GenieCapture. Embark on the Galaxy of GenieCapture and Hook your learners.</p>-->
          <ul class="list-contact">
            <li>
              <a routerLink="/who-are-we"><i aria-hidden="true" class="fa fa-chevron-right"></i>What is GenieCapture?</a>
            </li>
            <li>
              <a routerLink="/overview"><i aria-hidden="true" class="fa fa-chevron-right"></i>How it Works?</a>
            </li>
            <li>
              <a routerLink="/contact"><i aria-hidden="true" class="fa fa-chevron-right"></i>Establish Contact</a>
            </li>
          </ul>
          <ul class="list-social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
        </div>
        <!--<div class="col-sm-6 col-md-3">-->
        <!--<h2>My GenieCapture</h2>-->
        <!--<ul class="list-contact">-->
        <!--<li>-->
        <!--<a routerLink="/login">Login</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a routerLink="/signup">Signup</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-md-3">-->
        <!--<h2>Contact Us</h2>-->
        <!--<ul class="list-contact">-->
        <!--<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 5050 Quorum Drive<br>Suite-->
        <!--700, Dallas TX 75254</li>-->
        <!--<li><i class="fa fa-phone"></i> <strong>Phone:</strong> +1 (987) 654-1234</li>-->
        <!--<li><i class="fa fa-fax"></i> <strong>Fax:</strong> +1 (789) 456-1234</li>-->
        <!--<li><i class="fa fa-envelope"></i> <strong>Email:</strong>contact@geniecapture.com</li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="col-sm-6 col-md-6">
          <h2 class="text-center">Quick Links</h2>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-contact">
                <li>
                  <a class="appio-scroll" [routerLink]="['/']">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                  </a>
                </li>
                <li>
                  <a href="https://meetings.hubspot.com/mohsin-ali1" target="_blank" class="appio-scroll">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    Demo
                  </a>
                </li>
                <li>
                  <a routerLink="/pricing" class="appio-scroll">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    Pricing
                  </a>
                </li>
                <li>
                  <a routerLink="/overview" class="appio-scroll">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    Overview
                  </a>
                </li>
  
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-contact">
                <li>
                  <a routerLink="/features-comparison" class="appio-scroll">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Features Comparison
                  </a>
                </li>
                <li>
                  <a routerLink="contact" class="appio-scroll">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Contact
                  </a>
                </li>
                <li>
                  <a routerLink="/partnership">
                    <i class="fa fa-handshake-o"></i>
                    Partnership
                  </a>
                </li>
                <li>
                  <a routerLink="/faq">
                    <i class="fa fa-question-circle-o"></i>
                    FAQs
                  </a>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
        <div class="col-sm-6 col-md-3 subscribe">
          <h2>Newsletter</h2>
          <p class="newsletter-p">Subscribe to newsletter and get the latest and exclusive deals straight to your inbox.</p>
          <div class="input-group">
            <input class="form-control" style="font-size: 20px; color: #777777;" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-text ptb-10 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="social-link pull-right">
            <a [routerLink]="['/terms']" class="footer-link-border">Terms &amp; Conditions</a>
            <a [routerLink]="['/privacy-policy']" class="footer-link-border">Privacy Policy</a>
            <a [routerLink]="['/intellectual-property']">Intellectual Property</a>
          </div>
          <p class="text-left">Copyright &copy; 2018, GenieCapture. All rights reserved.</p>
          <!--<div class="social-link pull-left">-->
            <!--<a [routerLink]="['/home']">Home</a>-->
            <!--<a class="appio-scroll" routerLink="/contact">Contact Us</a>-->
            <!--<a [routerLink]="['/partnership']">Partnership</a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </footer>
  