<div class="terms-container-wrapper">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="terms-condition-wrapper container">
            <h1>Six Hacks: How to Reduce Electricity Consumption  </h1>
              <hr>
              <!-- <h2> Introduction </h2> -->
            
              <p>
                  Did you know, U.S. Energy Information Administration (EIA) stated that the average residential monthly electric bill was calculated as $114.03 in 2015?</p>
          <p>Yes, and that is about 9% of every American household’s monthly bills.</p>
          <p>It ranks you utility bills – when combined –  among the top 5 monthly expenses right after mortgage, insurance, and car payment. Whoa!</p>
          <p>But there is always a light at the end of the tunnel, and in this case, we are thankful for these awesome hacks compiled by ChoiceGenie.</p>
          <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
                <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
              </p> -->
              <h2>How to Air Dry Dishes</h2>
              <p>Please do not open that freezer a hundred times a day, you are a grown up now!
              </p>
        <p>Sorry, though!</p>
          <p>We are being helpful, as every time you open the freezer door, you’re making it consume more energy to keep itself cold.</p>
          <p>“Well, I have to get stuff out of it?”, you say?</p>
<p>Try to get them all at once or in groups so you don’t have to let the cool air out of the freezer that many times.</p>
               
               
              <h2> How to is the Dryer Efficient? Check it!</h2>
          <p>Large articles such as bed sheets have a tendency to get tangled in the dryer.</p>
          <p>BUT if you keep a lookout throughout the drying cycle, you can untangle them to dry more quickly.</p>

          <h2> how to Turn the Main Switch Off</h2>
            <p>When you are on the way out, turn off your main power!
                As of course, if you do not mind resetting the TV and alarm clocks.
                </p>
          <p>Most people don’t realize that many devices still consume energy even when they are off.</p>
              <h2>How to Put the Lights Off</h2>
  
                <p>Trust us when we say, NO!</p>
                <p>So make a conscious effort to turn off the light as you leave a room.
                    how long you would be away, does not matter.
                </p>
                <h2>Not in Use? Turn it OFF</h2>
                <p>Similar to the theory about the computer, turn off any electrical appliance when you’re not using them.</p>
                   <p> This covers your TV, Computer, and even gaming consoles.
                    </p>
                
  
        </div>
      </div>
    </div>
  </div>
  
  